<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4327c3ebe1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="colors.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="container-md my-5 shadow p-5 w-75 mb-5 bg-white rounded-lg" style="height: 650px;">
        <div class="row" style="height: 100%;">
            <div class="col d-none d-md-block"><img src="../public/images/DogAndCat.jpeg" alt=""
                    class="rounded fit-fluid " width="100%" height="100%"></div>
            <div class="col-md col-12" style="padding-top: 12%;" >
                <h1>Log In</h1>
                <div class="container-md mx-auto" style="width: 75%;">
                    <form action="/submits">
                        <div class="input-group mt-4">
                            <div class="input-group-addon">
                                <i class="far fa-address-book" style="margin-top: .75em"></i>
                            </div>
                            <input class="form-control border-0" id="username" name="username" type="text"
                                placeholder="Your Name" />
                        </div>
                        <hr class="mt-0" />
                        <div class="input-group mt-0">
                            <div class="input-group-addon">
                                <i class="fas fa-key" style="margin-top: .75em"></i>
                            </div>
                            <input class="form-control border-0" id="password" name="password" type="password"
                                placeholder="Password" />
                        </div>
                        <hr class="mt-0" />

                        <div class="form-check">
                            <input class="form-check-input" name="remember" type="checkbox" value="remember" checked id="rememberCheck">
                            <label class="form-check-label" for="rememberCheck">
                              Remember me
                            </label>
                          </div>
                        <div class="text-center">
                            <button type="submit" class="btn active mt-3"
                                style="color: white; background-color: #6d1919; padding:  .4em 1em .4em 1em;"
                                role="button">Log In </button>
                        </div>
                    </form>
                    <div class="text-center mt-3">
                        <a href="https://facebook.com" class="link" style="color: black;">Create an account ?</a>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>
</body>

</html>