<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Log In</title>
    <link rel="icon" href="/images/DogAndCat.jpeg" />
    <!-- link css files here -->
    <link rel="stylesheet" href="/css/LogIn.css" type="text/css" />
    <link rel="stylesheet" href="/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="/css/CommonStyle.css" type="text/css" />
  </head>
  <body>
    <div class="container Santation h-100">
      <div class="row shadow bg-white rounded-20 align-items-center m-4">
        <div class="col d-none d-sm-block">
          <img
            src="/images/DogAndCat2.jpg"
            alt=""
            class="rounded-20 img-fluid p-3"
          />
        </div>
        <div class="col-md col-12 my-auto">
          <h1 class="ml-4">
            Log In For
            <span
              class="iconify"
              data-inline="true"
              data-icon="bi:shop"
              style="font-size: 60px"
            ></span>
          </h1>
          <div class="container-md mx-auto w-75">
            <form action="/auth/customer/login" method="POST">
              <div class="input-group mt-4">
                <div class="input-group-addon">
                  <i class="far fa-address-book" style="margin-top: 0.75em"></i>
                </div>
                <input
                  class="form-control border-0 font-size-18"
                  id="username"
                  name="username"
                  type="text"
                  placeholder="Your Name"
                />
              </div>
              <hr class="mt-0" />
              <div class="input-group mt-0">
                <div class="input-group-addon">
                  <i class="fas fa-key" style="margin-top: 0.75em"></i>
                </div>
                <input
                  class="form-control border-0 font-size-18"
                  id="password"
                  name="password"
                  type="password"
                  placeholder="Password"
                />
              </div>
              <hr class="mt-0" />

              <div class="form-check">
                <input
                  class="form-check-input"
                  name="remember"
                  type="checkbox"
                  value="remember"
                  unchecked
                  id="rememberCheck"
                />
                <label
                  class="form-check-label font-size-18"
                  for="rememberCheck"
                >
                  Remember me
                </label>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn btn-dark py-2 px-3 m-3 font-size-18"
                  role="button"
                >
                  Log In
                </button>
                <a
                  href="#"
                  class="link text-dark ml-4 text-decoration-underline font-size-18"
                  >Go back</a
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/4327c3ebe1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
  </body>
</html>
