<!DOCTYPE html>
<html>
  <head>
    <title>FindMyFriend</title>
    <link rel="icon" href="../public/images/DogAndCat.jpeg" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="gallery.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- link css files here -->
    <link rel="stylesheet" href="/css/MainView.css" type="text/css" />
    <link rel="stylesheet" href="/css/colors.css" type="text/css" />
    <link
      rel="stylesheet"
      href="/css/CommonStyle.css"
      type="text/css"
    />

    <!-- font awesome kit code -->
    <script
      src="https://kit.fontawesome.com/04d7669626.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="container-fluid Santation font-size-14">
      <div class="row">
        <!-- breadcrumb -->
        <div class="col-3 col-md-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item" aria-label="breadcrumb">
                <a class="grass" href="../views/MainView.html">Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <!-- change breadcrumb here-->
                Dog
              </li>
            </ol>
          </nav>
        </div>

        <!-- pages -->
        <nav aria-label="Page navigation example" class="col-8 col-md-9">
          <ul class="pagination justify-content-center">
            <li class="page-item">
              <a
                class="page-link grass m-1 border-grass"
                href="#"
                aria-label="Previous"
              >
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link grass m-1 border-grass" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link grass m-1 border-grass" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link grass m-1 border-grass" href="#">3</a>
            </li>
            <li class="page-item">
              <a
                class="page-link grass m-1 border-grass"
                href="#"
                aria-label="Next"
              >
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- sort -->
        <div class="d-block d-md-none col-1 m-auto">
          <i
            class="fas fa-filter raspberry fa-lg border-raspberry p-1 rounded bg-cream"
          ></i>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 d-none d-md-block">
          <!-- Cataloge -->
          <div class="mx-4 mb-5">
            <button
              class="btn btn-block bg-raspberry text-white text-center font-weight-bold font-size-18"
              type="button"
              data-toggle="collapse"
              data-target="#collapseCataloge"
              aria-expanded="true"
              aria-controls="collapseCataloge"
            >
              Cataloge
            </button>
            <div class="collapse show" id="collapseCataloge">
              <div class="card card-body">
                <button type="button" class="btn text-left grass btn-block">
                  All pets
                </button>
                <div class="dropdown-divider"></div>

                <div class="btn-group btn-block dropright">
                  <button
                    type="button"
                    class="btn text-left grass"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <!-- add animal type -->
                    Dog
                  </button>
                  <div class="dropdown-menu">
                    <!-- add animal breed here -->
                    <a class="font-size-18 grass m-auto pl-4 dropdown-item"
                      >Chihuahua</a
                    >
                    <div class="dropdown-divider"></div>

                    <a class="font-size-18 grass m-auto pl-4 dropdown-item"
                      >Husky</a
                    >
                    <div class="dropdown-divider"></div>

                    <a class="font-size-18 grass m-auto pl-4 dropdown-item"
                      >Shiba</a
                    >
                    <div class="dropdown-divider"></div>

                    <a class="font-size-18 grass m-auto pl-4 dropdown-item"
                      >Poodle</a
                    >
                    <div class="dropdown-divider"></div>

                    <a class="font-size-18 grass m-auto pl-4 dropdown-item"
                      >Others</a
                    >
                  </div>
                </div>
                <div class="dropdown-divider"></div>

                <div class="btn-group btn-block dropright">
                  <button
                    type="button"
                    class="btn text-left grass"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <!-- add animal type -->
                    Cat
                  </button>
                  <div class="dropdown-menu">
                    <!-- add animal breed here -->
                  </div>
                </div>
                <div class="dropdown-divider"></div>

                <div class="btn-group btn-block dropright">
                  <button
                    type="button"
                    class="btn text-left grass"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    <!-- add animal type -->
                    Hamster
                  </button>
                  <div class="dropdown-menu">
                    <!-- add animal breed here -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- Sort -->
          <ul class="list-group mx-4">
            <li
              class="list-group-item bg-raspberry text-white text-center font-weight-bold font-size-18"
            >
              Sort
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-block text-left grass">
                By price
              </button>
            </li>
            <li class="list-group-item">
              <button type="button" class="btn btn-block text-left grass">
                By age
              </button>
            </li>
          </ul>
        </div>

        <!-- products -->
        <!-- 9 products per page -->
        <!-- change picture, name and price -->
        <div class="col-12 col-md-9">
          <div class="row row-cols-1 row-cols-lg-3 m-1">
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
          </div>
          <div class="row row-cols-1 row-cols-lg-3 m-1">
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
          </div>
          <div class="row row-cols-1 row-cols-lg-3 m-1">
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
            <a
              class="card no-border no-bg col badge badge-light"
              style="width: 15rem"
            >
              <img
                src="/images/DogAndCat.jpeg"
                class="card-img-top img-fluid w-100 rounded mx-auto d-block"
                alt="Responsive image"
              />
              <div class="card-body">
                <h5 class="card-text text-center font-weight-bolder">Name</h5>
                <h6 class="card-text text-center">Price</h6>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
