<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product</title>
    <link rel="icon" href="/images/DogAndCat.jpeg" />
    <link rel="stylesheet" href="/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="/css/CommonStyle.css" type="text/css" />
    <link rel="stylesheet" href="/css/smoothproducts.css" />
    <link rel="stylesheet" href="../public/css/ProductView.css" />
  </head>

  <body>
    <%- include('HeaderNavBar.ejs') -%>
    <br />
    <div class="container Santation font-size-14 h-100">
      <div class="row">
        <!-- breadcrumb -->
        <div class="col">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb no-bg font-size-18">
              <li class="breadcrumb-item" aria-label="breadcrumb">
                <!-- might need to change link here -->
                <a class="grass" href="/home">Home</a>
              </li>
              <li class="breadcrumb-item" aria-label="breadcrumb">
                <!-- might need to change link here -->
                <a class="grass" href="#">Shop ABC</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                <!-- change breadcrumb here-->
                Cho Nam
              </li>
            </ol>
          </nav>
        </div>
      </div>
      <div class="row mt-3 mb-1">
        <div class="col-5-sm my-auto" style="margin-left: 2em">
          <div class="sp-loading">
            <img src="/images/sp-loading.gif" alt="" /><br />LOADING IMAGES
          </div>
          <div class="sp-wrap">
            <a href="/images/1.jpg"><img src="/images/1_tb.jpg" alt="" /></a>
            <a href="/images/2.jpg"><img src="/images/2_tb.jpg" alt="" /></a>
            <a href="/images/3.jpg"><img src="/images/3_tb.jpg" alt="" /></a>
            <a href="/images/4.jpg"><img src="/images/4_tb.jpg" alt="" /></a>
            <a href="/images/5.jpg"><img src="/images/5_tb.jpg" alt="" /></a>
            <a href="/images/6.jpg"><img src="/images/6_tb.jpg" alt="" /></a>
          </div>
          <div style="margin-left: 9rem">-- Pet Images --</div>
        </div>
        <div class="col">
          <h4 class="font-weight-bold">Cho Nam</h4>
          <div class="container-md" style="width: 90%">
            <div class="m-3">
              <div class="table-responsive">
                <table class="table table-sm table-borderless mb-0">
                  <tbody>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Price</strong>
                      </th>
                      <td>1000 vnd</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Breed</strong>
                      </th>
                      <td>Chihuahua</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Age</strong>
                      </th>
                      <td>3</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Gender</strong>
                      </th>
                      <td>Male</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Contact name</strong>
                      </th>
                      <td>Shop ABCXYZ</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Contact number</strong>
                      </th>
                      <td>0123456789</td>
                    </tr>
                    <tr>
                      <th class="pl-0 w-25" scope="row">
                        <strong>Contact address</strong>
                      </th>
                      <td>ABC street</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <form action="https://google.com" class="text-center">
                <button
                  type="submit"
                  class="btn active m-3 text-center"
                  style="color: white; background-color: #6d1919"
                  role="button"
                >
                  Add To Cart
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('FooterNavBar.ejs') -%>
    <script
      src="https://kit.fontawesome.com/4327c3ebe1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />
    <script
      type="text/javascript"
      src="/javascript/jquery-2.1.3.min.js"
    ></script>
    <script
      type="text/javascript"
      src="/javascript/smoothproducts.min.js"
    ></script>
    <script type="text/javascript">
      /* wait for images to load */
      $(window).load(function () {
        $(".sp-wrap").smoothproducts();
      });
    </script>
  </body>
</html>
