<!DOCTYPE html>
<html>
  <head>
    <title>FindMyFriend</title>
    <link rel="icon" href="/images/DogAndCat.jpeg" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- link css files here -->
    <link rel="stylesheet" href="/css/colors.css" type="text/css" />
    <link rel="stylesheet" href="/css/CommonStyle.css" type="text/css" />
    <link rel="stylesheet" href="/css/WelcomePage.css" type="text/css" />
  </head>
  <body>
    <div class="Santation pink_nude container-fluid font-size-18 transbox h-100 bg-image-welcome">
        <div class="row pt-3">
            <div class="col-2"></div>
            <div class="col-4 text-center">
                <h1>Welcome to</h1>
            </div>
            <div class="col-6"></div>
            <div class="col-12 font-italic text-center text-center logo">
                <span class="iconify pink_nude" data-inline="true" data-icon="foundation:paw"></span>
                    FIND MY FRIEND
            </div>
            <div class="col-12 text-center">
                A place where you can find someone that will always love you no matter what.
            </div>
        </div>
        <div class="row p-custom">
            <div class="col-6 text-center">
                <p>If you are a customer, <br> log in here</p>
                <a class="btn btn-dark btn-change" href="/auth/shop/login" role="button">Log in</a>
            </div>
            <div class="col-6 text-center">
                <p>If you are a customer, <br> log in here</p>
                <a class="btn btn-dark btn-change" href="/auth/customer/login" role="button">Log in</a>
            </div>
            <a href="/auth/register" class="col-12 pink_nude text-center a-custom">Create an account</a>
        </div>
    </div>
    
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

    <!-- font awesome kit code -->
    <script
      src="https://kit.fontawesome.com/04d7669626.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>