.pink_nude {
    color: #7f423d;
}

.raspberry {
    color: #6d1919;
}

.red_vine {
    color: #ba494b;
}

.grass {
    color: #809c70;
}

.soft_kiss {
    color: #eadad0;
}

.cream {
    color: #efede7;
}

.bg-pink_nude {
    background-color: #7f423d;
}

.bg-raspberry {
    background-color: #6d1919;
}

.bg-red_vine {
    background-color: #ba494b;
}

.bg-grass {
    background-color: #809c70;
}

.bg-soft-kiss {
    background-color: #eadad0;
}

.bg-cream {
    background-color: #efede7;
}