.font-size-28 {
    font-size: 28px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-14 {
    font-size: 14px;
}

.Santation {
    font-family: Santation_Regular;
}

.text-decoration-underline {
    text-decoration: underline;
}

.no-border {
    border: none;
}

.border-grass {
    border: solid 2px;
    border-color: #809c70;
}

.no-bg {
    background: none;
}

/* .border-pink_nude {
    border: solid 2px;
    border-color: #7f423d;
}

.border-raspberry {
    border: solid 2px;
    border-color: #6d1919;
}

.border-red_vine {
    border: solid 2px;
    border-color: #ba494b;
}

.border-soft-kiss {
    border: solid 2px;
    border-color: #eadad0;
}

.border-cream {
    border: solid 2px;
    border-color: #efede7;
} */