div.text-center input {
    color: white;
    background-color: #6d1919;
    padding: .4em .8em;
    margin: 20px 0px 30px 0px;
    font-size: 1.3em;
    border-radius: .4em;
}

.container-fluid {
    max-width: 1200px;
}

#col1 {
    font-size: 1.2em;
}


/* div.container {
    max-width: 2500px;
} */

.Santation {
    font-family: Santation_Regular;
}

#info {
    max-width: 400px;
    border-radius: 1em;
}

form {
    width: 70%;
}

.breadcrumb-item {
    color: brown;
}

div i.attributes {
    margin-top: 0.7em;
}

#basket {
    border-style: solid;
    border-color: #BA494B;
    border-width: 2px;
    width: 90%;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

hr.mt-2 {
    border-style: solid;
    border-color: #BA494B;
    border-width: 1px;
    background-color: #BA494B;
    max-width: 95%;
}

h4 {
    color: #7F867B
}

.basket .itemBaskets {
    display: block;
    width: 100%;
    padding: 1em;
}

.basket .itemBaskets .infoWrap {
    display: table;
    width: 100%;
}

.basket .itemBaskets .itemImageAndName {
    width: 73%;
    display: table-cell;
    vertical-align: middle;
}

.basket .itemBaskets .itemImageAndName .rounded {
    margin-left: -2em;
    margin-right: 2em;
    width: 12em;
    display: inline;
    padding-right: 1em float=left
}

.itemCost .costTotal {
    float: right;
    margin-left: 2em;
    margin-right: 2em;
}