html,
body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.bg-image-welcome {
  background-image: url(/images/WelcomeImage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100%;
  height: 100%;
}

.transbox {
  opacity: 80%;
}

.logo {
  font-weight: 600;
  font-size: 50px;
}

.btn-dark {
  background-color: #6d1919 !important;
}

.a-custom:hover {
  color: #6d1919;
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: #6d1919;
}

.btn-change {
  border: 0px;
  font-size: 18px;
  box-shadow: 0 0 1px #ccc;
  animation-timing-function: linear;
  transition-duration: 0.5s;
  box-shadow: 0px 0 0 #eadad0 inset;
}

.btn-change:hover {
  box-shadow: 180px 0 0 #eadad0 inset;
  color: #6d1919 !important;
}
